body {
    height: 100%;
    width: 100%;
}

.robot-font {
    font-family: 'Roboto Mono';
}

#header .title {
    font-family: 'Roboto Mono';
    color: darkslategrey;
}

.bg-grey {
    background-color: #ecebeb;
}

.bg-ultra-dark {
    background-color: #000;
}

#home-news {
    margin-top: 30px;
}

#home-news #news-item {
    padding: 60px 60px 60px 60px;
}