body {
    height: 100%;
    width: 100%;
}

.robot-font {
    font-family: 'Roboto Mono';
}

.green-color {
    color: #1abe51;
}

.lightblue-color {
    color: #4fbbe6;
}

.orange-color {
    color: #f39759;
}

.yellow-color {
    color: #f0ec10;
}

.darkslateblue-color {
    color: #8c4cf3;
}

.dark-color {
    color: #000000;
}

.grey-color {
    color: #9fa2a3;
}

#header .title {
    font-family: 'Roboto Mono';
    color: darkslategrey;
}

.bg-grey {
    background-color: #ecebeb;
}

.bg-ultra-dark {
    background-color: #000;
}

#home-news {
    margin-top: 30px;
}

#home-news #news-item {
    padding: 60px 60px 60px 60px;
}

#search-bar select, #search-bar input, #search-bar .search-btn {
    border: none;
    background-color: transparent;
}

#news img {
    transition: all 0.6s;
}

.activeImage {
    opacity: 0.8;
    transition: all 0.6s;
    padding-top: 10px;
}

#social-links-sidebar .fab {
    font-size: 20px;
}