body {
    height: 100%;
    width: 100%;
}

.text-light-green{
    color: #29e661 !important;
}

.miriam-font-family {
    font-family: 'Miriam Libre', sans-serif !important;
}

.montserrat-font-family {
    font-family: 'Montserrat', sans-serif;
}
.nunito-font-family {
    font-family: 'Nunito', sans-serif;
}
.raleway-font-family {
    font-family: 'Raleway', sans-serif;
}

.badge-purple {
    background-color: #a44fb9;
    color: #fff;
}

.bg-grey {
    background-color: #ece8e8;
}

.bg-light-grey {
    background-color: #dad8d8;    
}

.bg-dark-red {
    background-color: #df626d;
}

.dark-theme {
    background-color: #333;
}

.dark-theme-bg {
    background-color: #444 !important;
}

.dark-theme-color {
    color: #fff !important;
}

#categories span {
    cursor: pointer;
}

#search-form .fas {
    color: #555;
    cursor: pointer;
}

#search-form .search-form {
    display: none;
}

#article hr.text-black-50 {
    border: 2px #ddd solid;
    width: 70%;
}

#article a.text-primary {
    cursor: pointer;
}

#discussion #answer img {
    width: 45%;
}

#discussion a.text-primary {
    cursor: pointer;
}